body {
    background-image: url(https://live.staticflickr.com/7294/9004993292_3d8f026110_b.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity: 0.5;
}

.overlay > * {
    z-index: 100;
}

.welcome {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

h1, h3 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    margin-bottom:20px;
}