body {
    background-color: #DE6E4B;
}

.searchInput {
    margin-left: 20px;
    float: left;
}

.welcome {
    margin-left: 20px;
    margin-top: 70px;
}

.instruction {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-bottom: 15px;
}

.backgroundChange {
    margin-right: 20px;
    float: right;
}

#poemResult {
    margin-top: 70px;
    justify-self: center;
    display: none;
    margin-bottom: 50px;
}

.title .author .poem {
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.author {
    margin-bottom: 30px;
}

p {
    text-align: center;
}

.fontChange {
    position: sticky;
    bottom: 0;
    margin: 0px auto 80px auto;
    width: 75%;
    text-align: center;
}
.outer {
    width: 100%;
    display: flex;
    justify-content: center;
}