body {
    /* background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pd19-3-36142a.jpg?w=1200&h=1200&fit=clip&crop=default&dpr=1&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=65326e2839d023dae1d9e4f111b43efe) !important; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}